html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: 'Inter';
	vertical-align: baseline;
}

svg {
	display: block;
	color: inherit;
}

.sitelogo {
	display: flex;
	width: 40px;
	height: 40px;
}

/* Контейнер */

.container {
	max-width: 1280px;
	margin: 0 auto;
}

@media (max-width: 1300px) {
	.container {
		max-width: 1280px;
		margin: 0 32px;
	}
}

@media (max-width: 992px) {
	.container {
    max-width: 972px;
		margin: 0 24px;
	}
}

@media (max-width: 575px) {
	.container {
		max-width: 555px;
		margin: 0 16px;
	}
	h2 {
		font-size: 22px;
		margin-bottom: 20px;
	}
}

.sitelogo {
	display: flex;
	width: 40px;
	height: 40px;
}

.container {
	max-width: 1280px;
}

/* Слайдер */


.home-cover {
	display: block;
	margin-top: 100px;
}

.card-wrapper {
	display: flex;
	position: relative;
}

.home-cover a {
	display: block;
	width: 100%;
	cursor: pointer;
}

.card-image {
	width: 100%;
	border-radius: 10px;
}

/* Новости */

.home-news {
	margin-top: 150px;
}

.home-news ul {
	columns: 3 auto;
	column-gap: 10px;
	padding-inline-start: 0;
}

.home-news li {
	display: block;
	position: relative;
	min-height: 130px;
	border-radius: 10px;
	transition: 300ms ease-out;
	margin-bottom: 10px;
}

.home-news li:hover {
	background-color: #212521;
	color: white;

	.home-news__data {
		color: white;
	}
}

.home-news__link {
	display: block;
	padding-left: 140px;
	padding-top: 40px;
}

.home-news__data {
	position: absolute;
	left: 140px;
	top: 15px;
	font-size: 14px;
	font-weight: 600;
	color: #BABABA;

}

.home-news a {
	display: flex;
	font-size: 16px;
	font-weight: 700;
	cursor: default;
	line-height: 120%;
	padding-right: 10px;
	cursor: pointer;
}

.home-news img {
	display: block;
	width: 120px;
	height: 120px;
	padding: 5px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
}

@media (max-width: 1300px) {
	.home-news ul {
		columns: 2;
		column-width: auto;
		column-gap: 10px;
	}
}

@media (max-width: 992px) {
	.home-news {
		margin-top: 100px;
	}
	.home-news ul {
		columns: 2;
		column-width: 45%;
	}
	.home-news li {
		width: 100%;
	}
	.home-news a {
		display: flex;
		font-size: 14px;
		font-weight: 700;
		cursor: default;
		line-height: 120%;
		padding-right: 10px;
		cursor: pointer;
	}
}

@media (max-width: 576px) {
	.home-news ul {
		columns: 1;
	}
	.home-news li {
		width: 100%;
		min-height: 100px;
		margin-bottom: 5px;
	}
	.home-news img {
		width: 100px;
		height: 100px;
	}
	.home-news a {
		font-size: 14px;
	}
	.home-news__link {
		padding-left: 110px;
		padding-top: 30px;
	}
	.home-news__data {
		position: absolute;
		left: 110px;
		top: 10px;
		font-size: 12px;
	}
}

/* О компании */

.home-about__columns {
	display: flex;
}

.home-about {
	margin-top: 150px;
	display: block;
}

.home-about__txt {
	display: block;
	width: 420px;
	margin-right: 110px;
	font-size: 16px;
	line-height: normal;
	font-weight: 600;
}

.home-about ul {
	display: block;
	width: 760px;
}

.home-about li {
	width: 100%;
	position: relative;
	height: 170px;
	border: 2px solid #F6F6F6;
	border-radius: 10px;
	margin-bottom: 10px;
	transition: 300ms ease-out;
}

.home-about li:hover {
	background-color: #212521;
	color: white;
	.img-button {
		border: 2px solid white;
	}
}

.home-about a {
	display: block;
	width: 100%;
	padding-left: 215px;
	padding-top: 30px;
	cursor: default;
	cursor: pointer;
	font-size: 18px;
	font-weight: 700;
}

.home__playlist-name {
	display: block;
	position: absolute;
}

.home__playlist-img {
	display: block;
	position: absolute;
	width: 170px;
	height: 140px;
	padding: 15px;
	border-radius: 20px;
	top: 0;
	left: 0;
}

.img-button {
	display: flex;
	position: absolute;
	bottom: 30px;
	left: 215px;
	padding: 12px;
	background-color: #212521;
	border-radius: 5px;
	transition: 300ms ease-out;
	border: 2px solid #212521;
}

.home__playlist-time {
	position: absolute;
	width: 140px;
	text-align: right;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
	bottom: 30px;
	right: 30px;
}


@media (max-width: 992px) {
	.home-about {
		margin-top: 100px;
	}
	.home-about__columns {
		display: block;
	}
	.home-about__txt {
		width: 100%;
		margin-bottom: 30px;
		margin-right: 0;
		font-size: 15px;
	}
	.home-about ul {
		width: 100%;
	}
	.home-about li {
		width: 100%;
	}
}

@media (max-width: 576px) {
	.home-about {
		margin-top: 80px;
	}
	.home-about__columns {
		display: block;
	}
	.home-about__txt {
		font-size: 14px;
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0;
	}
	.home-about ul {
		width: 100%;
	}
	.home-about li {
		width: 100%;
		height: 110px;
	}
	.home__playlist-img {
		width: 120px;
		height: 90px;
		padding: 10px;
		border-radius: 10px;
	}
	.home-about a {
		width: 100%;
		padding-left: 150px;
		padding-top: 15px;
		font-size: 16px;
	}
	.home-about button {
		padding: 5px;
		left: 150px;
		bottom: 15px;
	}
	.home__playlist-time {
		bottom: 15px;
		right: 15px;
		font-size: 14px;
	}
	.img-button {
	width: 20px;
	height: 20px;
	padding: 8px;
	bottom: 10px;
	left: 150px;
	}
}